@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  padding: 1rem 4rem;

  color: white;
}

form {
  line-height: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  gap: 2rem 1rem;
}

h1 {
  color: #bdedff;
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

label {
  font-size: 1.2rem;
  color: #bdedff;
  /* text-align: center; */
}

.form-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input,
select {
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #0d262f;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
}

input:focus,
select:focus {
  outline: none !important;
  border: 2px solid #bdedff;
}

.buy-sell-container {
  margin-block: 2rem;
  padding: 1rem;
  text-align: left;
}

.buy-sell-container label {
  margin-left: 0;
  margin-right: 2rem;
}

.buy-sell-container input[type="radio"] {
  margin: 4px 0 0 10px;
  line-height: normal;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.label-check {
  margin-inline: 0rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.btn-container {
  text-align: right;
  grid-column: 2/ -1;
}

button {
  width: 30%;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 1px;
  border: 2px solid black;
}

.buy {
  background-color: rgb(207, 7, 7);
}

.sell {
  background-color: rgb(3, 105, 3);
}

.sell:hover {
  background-color: transparent;
  border: 2px solid rgb(3, 105, 3);
}

.buy:hover {
  background-color: transparent;
  border: 2px solid rgb(207, 7, 7);
}
.result {
  margin-top: 2rem;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #0d262f;
}

.flex p {
  font-size: 1.2rem;
  color: #bdedff;
}

.profit-loss {
  width: 20%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  text-align: right;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 2rem;
}

.profit-loss.profit {
  background-color: green;
}

.profit-loss.loss {
  background-color: red;
}

@media only screen and (max-width: 900px) {
  .btn-container {
    grid-column: 2 / 2;
  }

  button {
    width: 50%;
    text-align: center;
  }
  .select {
    width: auto;
  }
}

@media only screen and (max-width: 640px) {
  form {
    gap: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .btn-container {
    grid-column: 1/ -1;
  }

  button {
    width: 100%;
  }
  #root {
    padding: 1rem 2rem;
  }

  .flex {
    flex-direction: column;
  }
  .flex h2 {
    font-size: 1rem;
  }

  .profit-loss {
    width: 90%;
  }
}

@media only screen and (max-width: 1175px) and (min-width: 910px) {
  form {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }

  button {
    width: 60%;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
  .buy-sell-container {
    margin-block: 0.5rem;
    padding: 0;
  }
  .label-check {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
  form {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
